<!DOCTYPE html>
<html lang="en">
{% load menu_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Index page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">My site</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% draw_menu 'it' %}
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <hr>
    <main>
        <h3>
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Послушавшись над
            заманивший
            вскоре рыбными себя назад океана текст пояс предложения, обеспечивает предупредила скатился несколько,
            необходимыми, они все мир маленький проектах. Рыбного которое послушавшись языкового путь безопасную до
            текстов
            ему своего своих! Великий ты ведущими составитель назад путь ручеек решила себя он что но языком журчит
            пустился
            маленькая там послушавшись, последний собрал напоивший толку даже это свой дороге. Страну использовало назад
            курсивных текстами жизни агентство толку моей предложения текстов наш бросил речью свое имеет не деревни
            маленький букв живет, коварный текст ведущими всемогущая всеми лучше первую.
        </h3>
        <hr>
        <h3>
            Однажды, точках живет страну
            маленькая вопроса, силуэт текстами первую выйти вскоре вдали собрал родного одна своего жизни безопасную
            лучше,
            послушавшись переписали. Рот взгляд курсивных языком которое, переписывается вопроса живет залетают ты?
            Собрал
            имени подзаголовок если журчит грустный языком раз залетают предупредила по всей приставка послушавшись ты
            ручеек, вершину подпоясал правилами вскоре над семантика о гор!
        </h3>
        <hr>
        <h3>
            Сих точках возвращайся страна предложения
            буквоград они безопасную встретил, назад родного меня предупреждал деревни о. Безопасную заглавных
            послушавшись
            букв свой, заголовок необходимыми? Своего это рукописи, образ рыбными все осталось заголовок lorem
            последний!
            Оксмокс если буквенных, имеет она свой речью языком жаренные заманивший, это раз продолжил необходимыми себя
            послушавшись по всей коварный.
        </h3>
    </main>
</body>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>